/***************************************/
/*              BELOW 1200px           */
/***************************************/

@media (max-width: 75em) {
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 2rem;
  }

  .heading-primary {
    color: #111;
    font-size: 3.6rem;
    line-height: 1.2;
  }

  .heading-secondary {
    color: #111;
    font-size: 3rem;
  }

  .hero-text {
    font-size: 2rem;
  }

  .hero-img {
    width: 100%;
  }

  .heading-exp {
    font-size: 3rem;
  }

  .lang-name {
    font-size: 2rem;
  }

  .progress-empty {
    height: 2rem;
  }

  .progress-bar,
  .progress-html,
  .progress-js,
  .progress-css {
    height: 2rem;
  }

  .text-exp {
    font-size: 2rem;
  }

  .path-link:link,
  .path-link:visited {
    font-size: 2rem;
  }

  .form-contact {
    max-width: 60rem;
  }

  .form-contact label {
    font-size: 2.4rem;
  }

  .input-text {
    padding: 0.8rem;
    font-size: 2rem;
    width: 20rem;
  }

  .input-email {
    padding: 0.8rem;
    font-size: 2rem;
    width: 100%;
  }

  .input-message {
    width: 100%;
    height: 30rem;
    font-size: 2rem;
  }

  .submit {
    font-size: 2rem;
  }
}

/***************************************/
/*              BELOW 844px           */
/***************************************/

@media (max-width: 52.75em) {
  .brand:link,
  .brand:visited {
    font-size: 2.4rem;
  }

  .heading-exp {
    font-size: 2.4rem;
  }

  .progress-empty {
    height: 1.6rem;
  }

  .progress-bar,
  .progress-html,
  .progress-js,
  .progress-css {
    height: 1.6rem;
  }

  .path-link:link,
  .path-link:visited {
    font-size: 1.6rem;
  }

  .form-contact label {
    font-size: 2rem;
  }
}

/***************************************/
/*              BELOW 658px           */
/***************************************/

@media (max-width: 41.125em) {
  .hero {
    grid-template-columns: 1fr;
    row-gap: 1.6rem;
    text-align: center;
  }

  .hero-img {
    width: 70%;
    display: block;
    margin: 0 auto;
    margin-top: 2.5rem;
  }

  .cont-exp {
    grid-template-columns: 1fr;
  }

  .lang-list {
    width: 80%;
    margin: 0 auto;
  }

  .form-contact {
    max-width: 50rem;
  }
}

/***************************************/
/*              BELOW 428px           */
/***************************************/

@media (max-width: 26.8em) {
  .icon-mobile-nav {
    height: 3.6rem;
    width: 3.6rem;
    color: #333;
  }

  .brand:link,
  .brand:visited {
    font-size: 2rem;
  }

  .brand-logo {
    height: 4.4rem;
  }

  .hero {
    grid-template-columns: 1fr;
    row-gap: 1.6rem;
    text-align: center;
  }

  .heading-primary {
    font-size: 2.4rem;
  }

  .hero-img {
    width: 80%;
    display: block;
    margin: 0 auto;
  }

  .hero-text {
    font-size: 1.6rem;
  }

  .heading-exp {
    font-size: 2rem;
  }

  .cont-exp {
    grid-template-columns: 1fr;
  }

  .text-exp {
    font-size: 1.6rem;
  }

  .path-link:link,
  .path-link:visited {
    font-size: 1.4rem;
  }

  .form-contact {
    max-width: 40rem;
  }

  .form-contact label {
    font-size: 2rem;
  }

  .input-text {
    padding: 0.4rem;
    font-size: 2rem;
    width: 100%;
  }

  .input-email {
    padding: 0.4rem;
    font-size: 2rem;
    width: 100%;
  }

  .input-message {
    width: 100%;
    height: 30rem;
    font-size: 2rem;
  }

  .submit {
    font-size: 2rem;
  }

  .form-first-line {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/***************************************/
/*              BELOW 375px           */
/***************************************/

@media (max-width: 23.48em) {
  .icon-mobile-nav {
    height: 3.6rem;
    width: 3.6rem;
    color: #333;
  }

  .path-link:link,
  .path-link:visited {
    font-size: 1.2rem;
  }

  .lang-name {
    font-size: 1.8rem;
  }

  .text-exp {
    font-size: 1.6rem;
  }

  .lang-list {
    width: 80%;
    margin: 0 auto;
  }

  .input-text {
    padding: 0.4rem;
    font-size: 2rem;
    width: 100%;
  }

  .form-contact label {
    font-size: 1.8rem;
  }

  .form-first-line {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/***************************************/
/*              BELOW 325px           */
/***************************************/

@media (max-width: 20em) {
  .path-link:link,
  .path-link:visited {
    font-size: 1.4rem;
  }

  .heading-exp {
    font-size: 1.6rem;
  }

  .form-contact {
    max-width: 40rem;
  }

  .form-contact label {
    font-size: 2rem;
  }

  .input-text {
    padding: 0.4rem;
    font-size: 2rem;
    width: 100%;
  }

  .input-email {
    padding: 0.4rem;
    font-size: 2rem;
    width: 100%;
  }

  .input-message {
    width: 100%;
    height: 30rem;
    font-size: 2rem;
  }

  .submit {
    font-size: 2rem;
  }

  .form-first-line {
    display: grid;
    grid-template-columns: 1fr;
  }
}
