/***************************************/
/*              BELOW 600px           */
/***************************************/

@media (max-width: 40em) {
  html {
    font-size: 37.5%;
  }

  main {
    width: 80rem;
  }

  .name {
    font-size: 3rem;
  }
}

/***************************************/
/*              BELOW 428px           */
/***************************************/

@media (max-width: 30.56em) {
  html {
    font-size: 31.25%;
  }

  main {
    width: 75rem;
  }

  .name {
    font-size: 3rem;
  }
}

/***************************************/
/*              BELOW 325px           */
/***************************************/

@media (max-width: 23.81em) {
  html {
    font-size: 24%;
  }
}
