/*
 ---- 01 TYPOGRAPHY SYSTEM

- FONT SIZES (px):
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 
  
  52 / 62 / 74 / 86 / 98

- FONT WEIGHTS:
  default: 400
  bold: 700

- LETTER SPACING:
    0.5px
    0.75px
 ---- 02 COLOURS
 
 - Primary: #ffffff #02ccfe 
 - Tints:
 - Shades:
 - Accents:
 - Greys:

 - Spacing System (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 
 
*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;500&display=swap");

:root {
  --color-primary: #02ccfe;

  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Montserrat", sans-serif;

  --space-sm: 2rem;
  --space-md: 4rem;
  --space-bg: 8rem;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  overflow-x: hidden;
}

body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  color: #111;

  overflow-x: hidden;
}

a {
  text-decoration: none;
  font-family: var(--font-primary);
  color: #777;
}

button {
  padding: 0;
  margin: 0;
  background-color: #fff;
  border: none;
}

/* HEADINGS */
.main-title {
  font-size: clamp(3.6rem, 3.274rem + 1.605vw, 5.2rem);
  line-height: 1.2;
  font-family: var(--font-secondary);
  font-weight: 700;
  color: #fff;
}

.heading-primary {
  font-family: var(--font-secondary);
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.3;
  color: #001419;

  display: inlineb;
}

.heading-secondary {
  font-family: var(--font-secondary);
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.3;
  color: #001419;

  display: inline-block;
}

/*********************************
*          NAVIGATION            *
*********************************/

header {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;

  transition: all 0.3s;
  /* justify-content: space-between; */
}

.sticky {
  position: fixed;
  background: #001419;
}

.wrapper {
  max-width: 132rem;
  margin: 0 auto;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.main-nav {
  flex: 0 1 35%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.main-nav-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.main-nav-link {
  font-size: 1.6rem;
  padding: 1rem 0.5rem;
  color: #ddd;
  margin-right: var(--space-sm);
  transition: all 0.2s ease-in-out;
}

.main-nav-link:hover {
  cursor: pointer;
  color: #fff;
}

.logo-link {
  flex: 0 1 10%;
  font-weight: 700;
  font-family: var(--font-secondary);
  font-size: clamp(2.2rem, 2.1185rem + 0.4013vw, 2.6rem);
  letter-spacing: 0.05rem;
  color: #fff;
  padding: 1rem 5rem 1rem 1rem;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
}

.logo-circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;

  margin-bottom: 10px;
  margin-left: 3px;
  background-color: #02ccfe;
}

.phone-box {
  flex: 0 1 45%;
  justify-self: flex-end;
  padding-right: 1rem;

  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
}
.phone-number {
  font-weight: 700;
  font-size: 1.6rem;
  font-family: var(--font-secondary);
  color: #fff;
}

.phone-icon {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.6rem;

  background-image: url(../icons/phone-solid.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* BUILDING THE MOBILE NAVIGATION */
/* INITIAL VALUES */

.btn-mobile-nav {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  width: 4.8rem;
  height: 4.8rem;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.menu-open {
  background-image: url(../icons/menu.svg);
}

.menu-closed {
  background-image: url(../icons/close.svg);
  display: none;
}

/*********************************
*             HERO               *
*********************************/

.section-hero {
  width: 100%;
  height: 100vh;

  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.layer {
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.6);
}

.section-hero .container {
  max-width: 70%;
  height: 100%;
  margin: 0 auto;
  padding: 0 4rem;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  position: relative;
}

.section-hero .main-title {
  max-width: 60rem;
}

.section-hero .philosophy-box {
  position: absolute;
  right: 0;
  bottom: 5rem;
  width: 33rem;
}

.section-hero .philosophy {
  color: #ddd;
  font-size: 1.6rem;
  line-height: 1.6;
}

.philosophy-box .line {
  width: 5rem;
  height: 0.01rem;
  margin-bottom: 1rem;
  background-color: #fff;
}

/*********************************
*         INTRODUCTION           *
*********************************/

.section-introduction {
  padding: 12rem 1rem;
}

.introduction {
  max-width: 70%;
  margin: 0 auto;
}

.intro-1,
.intro-3 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  padding-bottom: 10rem;
}

.intro-3 {
  padding-bottom: 0;
}

.intro-1 .heading-primary {
  margin-bottom: var(--space-bg);
  position: relative;
}

.intro-1 .heading-primary::after {
  content: "";
  height: 1px;
  width: 300%;
  background: #111;

  position: absolute;
  right: 0;
  bottom: 0;
}

.intro-1 .parag-text {
  max-width: 80%;
}

.intro-1 .intro-text-box,
.intro-2 .intro-text-box,
.intro-3 .intro-text-box {
  flex: 0 1 25%;
}

.intro-1 .intro-text-box,
.intro-3 .intro-text-box {
  padding-right: 2rem;
}

.intro-1 .intro-img-box {
  flex: 0 1 50%;
  height: 70rem;

  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/intro-3.jpg);
}

.parag-text {
  font-size: clamp(1.4rem, 1.3592rem + 0.2006vw, 1.6rem);
  line-height: 1.6;
  color: #777;
}

.btn-learn {
  max-width: fit-content;
  color: var(--color-primary);
  font-size: 1.6rem;
  margin-top: var(--space-sm);

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
}

.icon-arrow {
  width: 1.4rem;
  height: 1.4rem;
  margin-left: 1rem;
  padding: 0.5rem 0.5rem;

  transition: all 0.3s ease-in-out;
}

.btn-learn:hover .icon-arrow {
  color: #fff;
  background-color: #02ccfe;
}

.intro-2 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  padding-top: 10rem;
  padding-bottom: 10rem;
}

.intro-2 .heading-secondary {
  position: relative;
  padding: 0.5rem 0;
  margin-bottom: var(--space-md);
}

.intro-2 .heading-secondary::after {
  content: "";
  height: 1px;
  width: 200%;
  background-color: #111;

  position: absolute;
  bottom: 0;
  left: 0;
}

.intro-2 .intro-img-box {
  flex: 0 1 50%;
  height: 50rem;

  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/intro-2.jpg);
}

.intro-3 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  padding-top: 10rem;
}

.intro-3 .intro-img-box {
  flex: 0 1 50%;
  height: 70rem;

  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/intro-1.jpg);
}

.intro-3 .heading-secondary {
  position: relative;
  padding: 0.5rem 0;
  margin-bottom: var(--space-md);
}

.intro-3 .heading-secondary::after {
  content: "";
  height: 1px;
  width: 200%;
  background-color: #111;

  position: absolute;
  right: 0;
  bottom: 0;
}

/*********************************
*           SERVICES             *
*********************************/

.section-services {
  padding: 12rem 0;

  background-color: #001419;
}

.services {
  max-width: 70%;
  margin: 0 auto;
}

.ser-1 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.services .heading-primary {
  display: inline-block;
  position: relative;
  padding: 0.5rem 0;
  color: #fff;

  margin-bottom: var(--space-md);
}

.services .heading-primary::after {
  content: "";
  height: 1px;
  width: 350%;
  background-color: #fff;

  position: absolute;
  right: 0;
  bottom: 0;
}

.ser-text-box {
  flex: 0 1 25%;
}

.ser-accordeon-box {
  flex: 0 1 50%;
}

.ser-accordeon {
  transition: all 0.3s ease-in-out;
}

.acc-content-box {
  display: flex;
  flex-flow: row nowrap;

  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.acc-content-active {
  max-height: 30rem;
}

.acc-item {
  position: relative;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.acc-item::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #ddd;

  position: absolute;
  right: 0;
  bottom: 0;
}

.acc-text-box {
  padding: 1rem 0 1rem 2rem;

  font-size: 1.4rem;
  line-height: 1.2;
  color: #777;
}

.acc-title {
  font-size: 1.6rem;
  font-family: var(--font-secondary);
  font-weight: 700;
  color: #fff;

  margin-bottom: 1rem;
  transition: all 0.1s ease-in-out;
}

.title-active {
  color: var(--color-primary);
}

.icon-chevron {
  width: 2.4rem;
  height: 2.4rem;
  fill: #fff;

  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../icons/chevron-down-svgrepo-com.svg);
}

.acc-img-box {
  flex: 0 0 33.333334%;
  height: 17rem;

  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.acc-img-1 {
  background-image: url(../img/ser-2.jpg);
}

.acc-img-2 {
  background-image: url(../img/ser-4.jpg);
}

.acc-img-3 {
  background-image: url(../img/ser-3.jpg);
}

.acc-img-4 {
  background-image: url(../img/ser-1.jpg);
}

.acc-heading-box {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.acc-heading-box:hover {
  cursor: pointer;
}

.experts {
  margin-top: 15rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.expert {
  display: flex;
  flex-flow: row nowrap;
}

.expert .heading-secondary {
  color: #fff;
}

.expert-img {
  width: 5rem;
  height: 5rem;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;

  margin-right: var(--space-sm);
}

.expert-img-1 {
  background-image: url(../icons/compass-svgrepo-com.svg);
}

.expert-img-2 {
  background-image: url(../icons/design-svgrepo-com.svg);
}

.expert-img-3 {
  background-image: url(../icons/worker-builder-svgrepo-com.svg);
}

.expert-text-box {
  flex: 0 1 30rem;
  display: flex;
  flex-flow: column nowrap;
}

.expert .heading-secondary {
  margin-bottom: 1rem;
}

.expert .btn-learn {
  margin-top: var(--space-sm);
}

/*********************************
*           PROJECTS             *
*********************************/

.section-projects {
  padding: 12rem 0;
}

.projects {
  max-width: 70%;
  margin: 0 auto;
}

.projects .heading-primary {
  flex: 0 1 50%;
  max-width: fit-content;
  margin-bottom: var(--space-bg);
  position: relative;
  display: inline-block;
}

.projects .heading-primary::after {
  content: "";
  height: 1px;
  width: 300%;
  background: #111;

  position: absolute;
  right: 0;
  bottom: 0;
}

.projects-text-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  margin-bottom: var(--space-bg);
}

.projects .parag-text {
  flex: 0 1 50%;
  max-width: 30%;
  margin: 0 auto;
}

.projects-box {
  display: flex;
  flex-flow: column nowrap;
}

.gal-1,
.gal-2 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.gal-1 {
  margin-bottom: var(--space-md);
}

.projects figure {
  flex: 0 1 30%;
  height: 40rem;

  position: relative;
  overflow: hidden;
}

.projects figcaption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.project-title {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 1.6rem;
  color: #fff;
  margin-bottom: var(--space-sm);
}

.project-tag {
  font-size: 1.4rem;
  color: #ddd;
}

.projects figure:hover figcaption {
  cursor: pointer;
  opacity: 1;
}

.projects figure:hover .project-img {
  transform: scale(1.1);
}

.project-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  transition: all 0.3s ease-in-out;
}

.project-img-1 {
  background-image: url(../img/project-1.jpg);
}
.project-img-2 {
  background-image: url(../img/project-2.jpg);
}
.project-img-3 {
  background-image: url(../img/project-3.jpg);
}
.project-img-4 {
  background-image: url(../img/project-4.jpg);
}
.project-img-5 {
  background-image: url(../img/project-5.jpg);
}
.project-img-6 {
  background-image: url(../img/project-6.jpg);
}

.btn-all {
  font-size: 1.6rem;
  padding: 1.2rem 2rem;
  background-color: #001419;
  color: #fff;
  max-width: fit-content;
  margin: var(--space-md) auto 0 auto;
  transition: all 0.3s ease-in-out;
  border: 1px solid #001419;
}

.btn-all:hover {
  cursor: pointer;
  color: #001419;
  background-color: #fff;
  border: 1px solid #001419;
}

/*********************************
*         TESTIMONIALS           *
*********************************/

.section-testimonials {
  padding: 12rem 0;

  overflow: hidden;
}

.testimonials {
  max-width: 70%;
  margin: 0 auto;
}

.testimonials .heading-primary {
  position: relative;

  max-width: fit-content;
  margin: 0 auto;
}

.testimonials .heading-primary::after {
  content: "";
  position: absolute;
  width: 300%;
  height: 1px;
  background-color: #111;
  bottom: 0;
  right: 0;
}

.testimonials-buttons {
  max-width: fit-content;
  margin: 0 auto;
}

.testimonials-buttons .icon {
  margin-top: var(--space-sm);
  width: 3.2rem;
  height: 3.2rem;
  padding: 0.5rem;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  border: 1px solid #111;
  margin-right: var(--space-sm);
}

.testimonials-buttons .icon:hover {
  cursor: pointer;
}

.testimonials-buttons .chev-left {
  background-image: url(../icons/chevron-left-svgrepo-com.svg);
}

.testimonials-buttons .chev-right {
  background-image: url(../icons/chevron-right-svgrepo-com.svg);
}

.testimonials-slider {
  margin-top: var(--space-md);
  display: flex;
  flex-flow: row nowrap;

  transform: translateX(-50%);
}

.card {
  flex: 0 0 65%;
  padding: 5rem 2rem 8rem 2rem;
  margin: 0 auto;
  background-color: #fff;
  transform: scale(0.8);
  opacity: 0.5;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  align-content: center;
}

.card-active {
  transform: scale(1);
  opacity: 1;
  background-color: #001419;
}

.card-img {
  width: 80px;
  height: 80px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  margin-bottom: var(--space-sm);
}

.card-img-1 {
  background-image: url(../img/review-1.jpg);
}

.card-img-2 {
  background-image: url(../img/review-2.jpg);
}

.card-img-3 {
  background-image: url(../img/review-3.jpg);
}

.client {
  color: #fff;

  margin-bottom: var(--space-sm);
}

.client-name {
  font-size: 1.6rem;

  margin-bottom: 1rem;
}

.client-location {
  font-size: 1.4rem;
  color: #777;
}

.client-opinion {
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.6;
  font-style: italic;
  color: #777;
}

.testimonials ul {
  margin-top: var(--space-md);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.testimonials ul li {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #aaa;
  margin-right: 1rem;
}

.testimonials .page-active {
  background-color: #02ccfe;
}

.testimonials ul li:hover {
  cursor: pointer;
}

/*********************************
*              ABOUT             *
*********************************/

.section-about {
  padding: 12rem 0;
}

.about {
  max-width: 70%;
  margin: 0 auto;
}

.about .heading-primary {
  margin-bottom: var(--space-bg);
  position: relative;
  display: inline-block;
}

.about .heading-primary::after {
  content: "";
  height: 1px;
  width: 300%;
  background: #111;

  position: absolute;
  right: 0;
  bottom: 0;
}

.about-1 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  position: relative;
  padding-bottom: var(--space-md);
}

.about-text-box {
  flex: 0 1 35%;
}

.about-1::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  bottom: 0;
  background-color: #ccc;
}

.about-img-box {
  flex: 0 1 50%;
  height: 60rem;

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../img/about.jpg);
}

.stats {
  margin-top: var(--space-bg);

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.stat {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  align-content: center;
}

.stat-numb {
  font-size: 2rem;
  color: var(--color-primary);
  font-family: var(--font-secondary);
  font-weight: 700;
}

.stat-text {
  margin-top: var(--space-sm);
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.3;
  font-weight: 500;
  color: #111;
}

.about-2 {
  margin-top: var(--space-bg);
}

.team .heading-primary {
  position: relative;

  max-width: fit-content;
  margin: 0 auto;
}

.team .heading-primary::after {
  content: "";
  position: absolute;
  width: 300%;
  height: 1px;
  background-color: #111;
  bottom: 0;
  right: 0;
}

.teammates {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.teammate {
  flex: 0 1 22%;
  height: 40rem;
}

.layer-black {
  background-color: #001419;
}

.teammate-img {
  width: 14rem;
  height: 14rem;
  margin: 0 auto;
  margin-bottom: var(--space-sm);

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.teammate-img-1 {
  background-image: url(../img/team-1.jpg);
}

.teammate-img-2 {
  background-image: url(../img/team-2.jpg);
}

.teammate-img-3 {
  background-image: url(../img/team-3.jpg);
}

.teammate-img-4 {
  background-image: url(../img/team-4.jpg);
}

.teammate-name {
  font-size: 2rem;
  font-family: var(--font-secondary);
  font-weight: 400;
  color: #111;
  margin-bottom: 0.5rem;
}

.teammate-occupation {
  font-size: 1.6rem;
  font-weight: 400;
  color: #999;
  margin-bottom: var(--space-sm);
}

.teammate-quote {
  font-size: 1.6rem;

  color: #999;
  line-height: 1.4;
}

.teammate-social-list {
  margin-top: var(--space-sm);

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
}

.teammate-social-list li {
  background-color: #f7f7f7;
  padding: 0 1rem;
  border-radius: 50%;
  max-width: fit-content;

  margin-right: 1rem;
}

.teammate-social-link {
  padding: 1rem;
}

.teammate-social-list .social-icon {
  width: 1.6rem;
  height: 1.6rem;

  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.social-icon-twitter {
  background-image: url(../icons/x-social-media-black-icon.svg);
}

.social-icon-linkedin {
  background-image: url(../icons/linkedin-161-svgrepo-com.svg);
}

.social-icon-instagram {
  background-image: url(../icons/instagram-167-svgrepo-com.svg);
}

.social-icon-meta {
  background-image: url(../icons/meta-svgrepo-com.svg);
}

.social-icon-dribble {
  background-image: url(../icons/dribble-svgrepo-com.svg);
}

/*********************************
*            CONTACT             *
*********************************/

.section-contact {
  padding: 12rem 0 0 0;
}

.contact {
  max-width: 70%;
  margin: 0 auto var(--space-bg) auto;
}

.contact .heading-primary {
  max-width: fit-content;
  position: relative;

  margin: 0 auto;
}

.contact .heading-primary::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 1px;
  width: 300%;
  background-color: #111;
}

.contact .text-box {
  margin-top: var(--space-md);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.contact .contact-text {
  max-width: 25%;

  font-size: 1.6rem;
  color: #777;
  line-height: 1.3;
}

.info {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;

  margin-bottom: var(--space-sm);
}

.info-text {
  font-size: 1.6rem;
  color: #777;
  margin-left: 1rem;
}

.contact .info .icon {
  width: 3.6rem;
  height: 3.6rem;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.icon-address {
  background-image: url(../icons/address-svgrepo-com.svg);
}

.icon-phone {
  background-image: url(../icons/phone-call-svgrepo-com.svg);
}

.icon-clock {
  background-image: url(../icons/clock-0500-svgrepo-com.svg);
}

.icon-calendar {
  background-image: url(../icons/calendar-xmark-alt-svgrepo-com.svg);
}

.contact form {
  margin-top: var(--space-md);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.contact .row {
  flex: 1 1 100%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.contact .row .group {
  flex: 0 1 48%;

  display: flex;
  flex-flow: column nowrap;
}

.contact label {
  font-size: 1.6rem;
  color: #777;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.contact input[type="text"] {
  font-size: 1.6rem;
  color: #111;
  padding: 0.75rem 1rem;

  margin-bottom: var(--space-sm);
}

.contact input[type="text"]:focus {
  outline: none;
  border: 1px solid var(--color-primary);
  font-family: var(--font-primary);
}

.contact textarea {
  resize: none;
  height: 20rem;
  margin-bottom: var(--space-sm);

  font-size: 1.6rem;
  color: #111;
  padding: 0.75rem 1rem;
  font-family: var(--font-primary);
}

.contact textarea:focus {
  outline: none;
  border: 1px solid var(--color-primary);
}

.btn-submit {
  font-size: 1.6rem;
  color: #fff;
  background-color: #001419;
  max-width: fit-content;
  padding: 1.5rem 1.5rem;
  border: 1px solid #001419;

  transition: all 0.3s ease-in-out;
}

.btn-submit:hover {
  cursor: pointer;
  background-color: #fff;
  color: #001419;
}

/*********************************
*             FOOTER             *
*********************************/

footer {
  padding: 6rem 0;
  background-color: #001419;
}

footer .col-box {
  max-width: 70%;
  margin: 0 auto;
  padding-bottom: 2.5rem;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  position: relative;
}

footer .col-box::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
}

footer .col-1 {
  flex: 1 1 50%;
}

footer .col-2 {
  flex: 1 1 50%;
}

footer .col-2 .heading-secondary {
  color: #fff;
}

footer .logo-link {
  font-weight: 700;
  font-family: var(--font-secondary);
  font-size: 2.4rem;
  letter-spacing: 0.05rem;
  color: #fff;
  margin-right: var(--space-md);
  max-width: fit-content;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
}

footer .logo-circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;

  margin-bottom: 10px;
  margin-left: 3px;
  background-color: #02ccfe;
}

footer .inspiring-text {
  max-width: 25rem;
  font-size: 1.4rem;
  color: #777;
  font-style: italic;
  line-height: 1.6;

  margin: var(--space-md) 0;
}

footer .col-1 .heading-secondary {
  color: #fff;
  margin-bottom: var(--space-sm);
}

footer .social-list {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
}

footer .social-list li {
  margin-right: 1rem;

  transition: all 0.2s ease-in-out;
}

footer .social-list .social-link:hover {
  background-color: var(--color-primary);
}

footer .social-link {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
  padding: 1rem;
}

footer .social-icon {
  fill: #fff;
  transition: all 0.2s;
}

.list-box {
  margin-top: var(--space-sm);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.list-box li {
  margin-bottom: var(--space-sm);
}

.list-box a {
  font-size: 1.4rem;
  color: #777;

  transition: all 0.3s ease-in-out;
}

.list-box li:hover a {
  color: var(--color-primary);
}

.copy-box {
  max-width: 30%;
  margin: var(--space-sm) auto 0 auto;
  text-align: center;
}

.copy-text {
  font-size: 1.4rem;
  line-height: 1.4;
  color: #777;
}

.copy-text span {
  color: #fff;
}

/*********************************
*         LANDING QUERIES        *
*********************************/

@media screen and (max-width: 1200px) {
  /* GENERAL */
  .introduction,
  .services {
    max-width: 90%;
  }
}

@media screen and (max-width: 1080px) {
  /* GENERAL */
  .introduction,
  .services {
    max-width: 95%;
  }

  /* SERVICES */
  .ser-text-box {
    flex: 0 1 40%;
  }
}

@media screen and (max-width: 930px) {
  /* NAVIGATION */
  header .phone-box {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  /* INTRODUCTION */
  .intro-1,
  .intro-2,
  .intro-3 {
    flex-flow: column nowrap;

    padding-bottom: var(--space-md);
  }

  .intro-1 .intro-img-box,
  .intro-3 .intro-img-box {
    flex: 0 1 50rem;
    width: 100%;
    margin-top: var(--space-md);
  }

  .intro-2 .intro-img-box {
    order: 2;
    flex: 0 1 50rem;
    width: 100%;
    margin-top: var(--space-md);
  }

  .intro-2 .intro-text-box {
    order: 1;
  }

  .intro-1 .parag-text {
    max-width: 100%;
  }

  /* SERVICES */
  .ser-1 {
    flex-flow: row wrap;
  }

  .ser-text-box {
    flex: 0 1 100%;
    margin-bottom: var(--space-md);
  }

  .ser-accordeon-box {
    flex: 0 1 100%;
  }

  .experts {
    flex-flow: row wrap;
  }

  .expert {
    flex: 0 1 48%;
  }

  .experts .expert:last-child {
    margin-top: var(--space-bg);
  }

  /* MOBILE NAVIGATION QUERIES */
  .disable-scroll {
    overflow: hidden;
  }

  .btn-mobile-nav {
    display: block;
  }

  header {
    position: fixed;
    justify-content: space-between;
  }

  header .main-nav {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    width: 100%;
    justify-content: center;

    flex-flow: row nowrap;
    padding: 0;
    transition: all 0.3s ease-in-out;

    /* HIDE IT VISUALLY */
    opacity: 0;

    /* MAKE IT UNACCESSIBLE TO MOUSE AND KEYBOARD */
    pointer-events: none;

    /* HIDE IT FROM SCREEN READERS */
    visibility: hidden;
  }

  /* NAVIGATION OPEN */
  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }

  .nav-open .menu-open {
    display: none;
  }

  .nav-open .menu-closed {
    display: block;
  }

  .main-nav .logo-link {
    z-index: 999;
    margin: 0 0 var(--space-bg) 0;
    font-size: 3.6rem;
  }

  .main-nav .logo-circle {
    width: 10px;
    height: 10px;
  }

  .main-nav .main-nav-list {
    flex-flow: column nowrap;
    height: 70%;
  }

  .main-nav .main-nav-link {
    margin: 0;
    margin-top: var(--space-md);
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 480px) {
  /* GENERAL */
  .section-introduction,
  .section-services {
    padding: var(--space-md) 1rem;
  }

  /* INTRODUCTION */
  .intro-1,
  .intro-2,
  .intro-3 {
    flex-flow: column nowrap;

    padding-bottom: var(--space-sm);
  }

  /* SERVICES */
  .experts {
    margin-top: var(--space-bg);
  }

  .expert {
    flex: 0 1 100%;
    margin-bottom: var(--space-md);
  }

  .experts .expert:last-child {
    margin-top: 0;
  }
}

@media screen and (max-width: 320px) {
  .main-title {
    margin-bottom: 15rem;
  }

  .section-hero .philosophy-box {
    width: 20rem;
  }

  .section-hero .philosophy {
    line-height: 1.3;
  }
}
