/***************************************/
/*              BELOW 1024px           */
/***************************************/

@media (max-width: 64em) {
  html {
    font-size: 50%;
  }
}
/***************************************/
/*              BELOW 768px           */
/***************************************/

@media (max-width: 48em) {
  html {
    font-size: 43.75%;
  }
}
/***************************************/
/*              BELOW 600px           */
/***************************************/

@media (max-width: 37.5em) {
  html {
    font-size: 37.5%;
  }

  main {
    width: 80rem;
  }

  .name {
    font-size: 3rem;
  }
}

/***************************************/
/*              BELOW 428px           */
/***************************************/

@media (max-width: 26.8em) {
  html {
    font-size: 31.25%;
  }

  main {
    width: 75rem;
  }

  .name {
    font-size: 3rem;
  }
}

/***************************************/
/*              BELOW 375px           */
/***************************************/

@media (max-width: 23.48em) {
  html {
    font-size: 25%;
  }
}

/***************************************/
/*              BELOW 325px           */
/***************************************/

@media (max-width: 20em) {
  html {
    font-size: 20%;
  }
}
